./idea
/build/
/vendor/
composer.lock
vendor-bin/**/vendor
vendor-bin/**/composer.lock
.php-cs-fixer.cache

# drone CI is in .drone.star, do not let someone accidentally commit a local .drone.yml
.drone.yml
